<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <title>Adicionar Montadora</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Adicionar Montadora</h1>
    {% include "components/notifications.twig" %}
  </section>
  <section id="form-brand">
  <form action="" method="POST" enctype="multipart/form-data">
    <table>
      <tr>
        <td>Nome da Montadora:</td>
        <td><input type="text" class="brand-name" name="name"></td>
      </tr>
      <tr>
        <td>Ícone:</td>
        <td>
          <img src="https://via.placeholder.com/230.png" alt="">
          <input type="file" name="picture" accept="image/x-png,image/gif,image/jpeg">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons">
          <input type="reset" value="Reset" class="yellow">
          <input type="submit" value="Salvar" class="green">
        </td>
      </tr>
    </table>
    
  </form>
  </section>
</body>
</html>