<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <title>Adicionar Cabeçote</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Adicionar Cabeçote</h1>
  </section>
  <section id="form-brand">
  <form action="#" method="POST">
    <table>
      <tr>
        <td>Modelo Motor/Cabeçote:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td>Combustível:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td>Material:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td>Altura STD:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td>Altura Mínima:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons" style="padding-top: 80px;">
          <input type="reset" value="Reset" class="yellow">
          <input type="submit" value="Salvar" class="green">
        </td>
      </tr>
    </table>
  </form>
  </section>
</body>
</html>