<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/app-options.css" />
  <title>Gerenciamento de Aplicativo</title>
</head>
<body>
  <h1>Nome do Aplicativo</h1>
  <main id="options">
    <div class="option">
      <img src="images/motor.jpg" alt="Funcionalidade">
      <div class="text">
        Titulo da Funcionalidade
      </div>
    </div>
    <div class="option">
      <img src="images/motor.jpg" alt="Funcionalidade">
      <div class="text">
        Titulo da Funcionalidade
      </div>
    </div>
    <div class="option">
      <img src="images/motor.jpg" alt="Funcionalidade">
      <div class="text">
        Titulo da Funcionalidade
      </div>
    </div>
    <div class="option">
      <img src="images/motor.jpg" alt="Funcionalidade">
      <div class="text">
        Titulo da Funcionalidade
      </div>
    </div>
  </main>
</body>
</html>