<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/dashboard.css" />
  <title>Dashboard - Cabeçote 100%</title>
</head>
<body>
  <aside id="left-bar">
    <div id="date-hour">
      <p>27/03/2022</p>
      <p>HH:mm:ss</p>
    </div>
    <figure>
      <img src="images/perfil.jpg" alt="Imagem-do-usuário">
    </figure>
    <h5>Usuário</h5>
  </aside>
  <main id="content">
    <h2>Aplicativos Cabeçote 100%</h2>
    <section id="apps">
      <div id="app">
        <img src="https://via.placeholder.com/150" alt="placeholder">
        <h3>Aplicativo 1</h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150" alt="placeholder">
        <h3>Aplicativo 2</h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150" alt="placeholder">
        <h3>Aplicativo 3</h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150" alt="placeholder">
        <h3>Aplicativo 4</h3>
      </div>
    </section>
  </main>
</body>
</html>