<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <title>Editar Veículo</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Editar Veículo</h1>
  </section>
  <section id="form-brand" style="padding-bottom: 30px;">
  <form action="#" method="POST">
    <table style="margin: 0 auto; width: 95%;">
      <tr>
        <td style="width: 1%; vertical-align: middle;">Montadora:</td>
        <td><input type="text" class="brand-name exception" placeholder="Volkswagen"> <input type="submit" value="Ir" class="green btn-go"></td>
      </tr>
    </table>
  </form>
  <div id="table-result">
    <table>
      <tr>
        <td class="title-car">GOL</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">SAVEIRO</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">VOYAGE</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">FUSCA</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">KOMBI</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">KOMBI</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">KOMBI</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
      <tr>
        <td class="title-car">KOMBI</td>
        <td class="btn-align">
          <button class="btn-edit">Editar</button>
          <button class="btn-del">Apagar</button>
        </td>
      </tr>
    </table>
  </div>
  </section>
</body>
</html>