<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/style.css" />
  <title>Login - Cabeçote 100%</title>
</head>
<body>
    <img src="{{ base_url() }}/img/logo-superior.png"/>
  <div id="login-box">
    <form method="POST" action="">
      <h3>Login</h3>
      <input type="text" name="email" id="" class="field" placeholder="Usuário">
      <input type="password" name="password" id="" class="field" placeholder="Senha">
      <input type="submit" value="Entrar" class="login-button">
      <a href="#">Esqueci a minha senha!!!</a>
      {% include "components/notifications.twig" %}
    </form>
  </div>
</body>
</html>