<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/pick-car.css">
  <title>Escolha a montadora</title>
</head>
<body>
  <section id="find-brand">
    <form name="search-brand">
      <label>Busque por montadora</label>
      <input type="text" name="brand" placeholder="ex: Volkswagen" id="text-brand">
    </form>
  </section>
  <div id="list-brands">
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
    <div class="brand">
      <img src="https://via.placeholder.com/150" alt="brand">
      <span>Montadora</span>
    </div>
  </div>
</body>
</html>