@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFAA06;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#logo img {
  width: 45%;
  padding: 25px 50px;
  background-color: #793E12;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#title {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#title h1 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

#form-brand {
  background: #793E12;
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: column;
}

#form-brand form{
  width: 100%;
  padding-top: 40px;
}

#form-brand form table {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#form-brand form table tr td {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 300;
  padding-top: 20px;
  vertical-align: top;
}

.brand-name {
  width: 100%;
  background: #FFFFFF;
  border-radius: 13px;
  color: black;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  font-size: 22px;
  font-weight: 300;
  padding: 0 15px;
}

.exception {
  width: 86%;
}

#cabecote::placeholder{
  font-style: oblique; 
}

.buttons {
  text-align: right;
}

.buttons input {
  margin: 10px 10px;
  border-radius: 18px;
  padding: 3px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
}

.yellow {
  background-color: #FFC107;
}

.green {
  background-color: #198754;
}

.btn-go {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 18px;
  cursor: pointer;
}

#table-result {
  background: #FFFFFF;
  width: 90%;
  margin-top: 20px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#table-result table {
  width: 100%;
  border: none;
}

#table-result table tr td {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#table-result table tr td button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  border: none;
  outline: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit {
  background: #17A2B8;
}

.btn-del {
  background: #DC3545;
}

.btn-info {
  background-color: #0069d9;
}

#table-result table tr .btn-align {
  text-align: right;
}

.file-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 50%;
}

.file-input img {
  width: 230px;
  height: 230px;
}

.file-input .error {
  color: #DC3545;
}

#brand {
  padding-bottom: 10px;
  margin-left: 10px;
}

.file1{
  display: none;
}

.fileChoose {
  background-color: #FFAA06;
  border-radius: 20px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  cursor: pointer;
  padding: 5px 8px;
  margin: 5px;
  display: block;
  font-weight: 500;
  text-align: center;
}

.fileChoose:hover {
  color: #793E12;
}

.fileChoose:active {
  color: #000;
  box-shadow: 2px 3px 3px #FFAA06;
}

#iconBrand{
  width: 230px;
  height: 230px;
}

.btnOpenModal {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: #FFFFFF;
  cursor: pointer;
}

hr{
  border: 0px;
  border-top: 1px solid lightgray;
}

.modal-container {
  width: 100vw;
  position: fixed;
  top: 30px;
  display: none;
  z-index: 999;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.modal h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #17181A;
  margin-bottom: 5px;
}

.form-container {
  padding-bottom: 10px;
}

#form-edit-head {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-edit-head .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#form-edit-head .form-container .item {
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#form-edit-head .form-container .item-text {
  width: 78%;
}

#form-edit-head {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-edit-head .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#form-edit-head .form-container .item {
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#form-edit-head .form-container .item-text {
  width: 78%;
}

#form-car-new {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-car-new .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#form-car-new .form-container .item {
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#form-car-new .form-container .item-text {
  width: 78%;
}

#form-car-new {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-car-new .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#form-car-new .form-container .item {
  width: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#form-car-new .form-container .item-text {
  width: 78%;
}

.item span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}

.item-text input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000;
}

.item-text {
  display: flex;
  align-items: center;
}

.item-text input[type=text]:read-only{
  background-color: #e3e3e3;
  border: 1px solid #000;
  outline: none;
  cursor: no-drop;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

#message {
  width: 100%!important;
}

.message-ok {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  width: 98%;
  text-align: center;
  color: #155724;
  background-color: #d4edda;
  font-weight: 300;
  border-radius: 5px;
  padding: 5px;
  border: 1PX solid #c3e6cb;
}


@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

span {
  margin: 10px auto;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btns button {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnOK {
  background-color: blue!important;
}

.btnClose {
  background-color: brown!important;
}

.btn-manage {
  cursor: pointer;
  color: #fff;
  background-color: #6c757d;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #6c757d;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn-manage:hover {
  color: #fff;
  border-color: #545b62;
  background-color: #5a6268;
}

@media (max-width: 500px){
  .modal {
    padding: 10px;
    width: 80%;
  }

  span, .btns button {
    font-size: smaller;
  }
}